body{
    background-image: url("./img/main-bg.jpeg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    justify-content: space-around;
}

.nav span{
    padding: 0 13vw;
    color: white;
    font-size: 35px;
    font-family: 'Archivo Black', sans-serif;

}
.hamburger{
    display: none;

}
.circle{
    border-radius: 100%;
    border: 2px white solid;
    display:none;
}
.facebook{
    display: none;
}
.twitter{
    display: none;
}

@media screen and (max-width: 769px) {
    .nav span{
        display: none;
    }
    .hamburger{
        margin-left: 2vw;
        margin-top: .5vh;
        display: inline-block;
        color: white;
        padding: 1vh 2.5vw 1vh 1vw;
        width:5%;
        height: 5%;
        min-width: 2%;
        font-size:48px;

    }
    .facebook{
        margin-top: 1vh;
        display: inline;
        color: white;
        padding: 0 2vw ;
        float: right;
        font-size:48px;
    }
    .twitter{
        margin-top: 1vh;
        margin-left: 40vw;
        display: inline;
        font-size:48px;
        color: white;
        padding: 0 2vw;
        float: right;
    }
    .circle{
        border-radius: 100%;
        border: 2px white solid;
        display:inline;
    }
}
.headline{
    text-align: center;
    margin-top: 25vh;
    color: white;
    line-height: 4vh;
}
.headline h1{
    font-size: 100px;
    font-family: 'Archivo Black', sans-serif;

}
.headline h3{
    font-size:40px;
    font-family: 'Archivo Black', sans-serif;

}


.bottom-arrow{
    margin: 20vh 47vw 0 47vw;
    border-radius: 100%;
    background-color: white;
    font-size:48px;
    color:black;



}